.colorgrad {
  background: radial-gradient(
    hsl(278 75% 60%), 
    hsl(200 100% 60%) 
  ) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
} 

/* HEADER1 STYLING, ANIMATION AND VISIBILITY */

h1 {
	font-family: system-ui;
	font-size: 6vw;
	line-height: 1.1;
	max-inline-size: 100ch;
	margin: auto;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation: typing 2s steps(22) 1s forwards;
	animation-timing-function: steps(22, end);
	visibility: hidden;
}

h1.visible {
	visibility: visible;
}

@keyframes typing {
	to { width: 100%; }
}

/* HEADER2 STYLING AND ANIMATION */

h2 {
	font-family: ui-monospace, monospace;
	font-size: 2vw;
	line-height: 1.1;
	max-inline-size: 100ch;
	margin: auto;
	opacity: 0;
	animation: fade-in 2s 3s forwards;
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* BODY STYLING AND ANIMATION */

body {
  background: hsl(204 100% 5%);
  min-block-size: 145vh;
  padding: 10vmin;
  box-sizing: border-box;
  place-content: center;
}

.slideinanimation {
	  opacity: 0;
		animation: slide-in 1s 4s forwards;
}

@keyframes slide-in {
	from { transform: translateX(-100%); }
	to { transform: translateX(0%); opacity: 1; }
}



footer {
	/*TODO:  Make Footer*/
}

p {
	font-family: FreeMono, monospace;
	color: white;
	margin: auto;
	font-size: 3vmin;
	padding: 1svmin;
}

.pCopyright {
	font-size: 1.5vmin;
}

.button1 {
	/*length:  80hmax;*/
	width: 65vmin;
	font-size: 7.5vmin;
	font-weight: 800;
	font: system-ui;
	color: hsl(204 100% 5%);
	border-radius: 24px;
	padding: 12px 45px;
	background: radial-gradient(
	hsl(278 50% 60%), 
	hsl(200 100% 60%) 
	) fixed;
	transition: all 0.5s;
  cursor: pointer;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 6vmin;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

html {
	block-size: 100%;
	inline-size: 100%;
	text-align: center;
}

.linkhub {
	width: 3vmin;
}