html {
	block-size: 100%;
	inline-size: 100%;
	text-align: center;
}

h1 {
	font-family: system-ui;
	font-size: 6vw;
	line-height: 1.1;
	max-inline-size: 100ch;
	margin: auto;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
/*	width: 0;
	animation: typing 1s steps(22) 0.4s forwards;
	animation-timing-function: steps(22, end);
	visibility: hidden;*/
}

h1.visible {
	visibility: visible;
}

h2 {
	font-family: ui-monospace, monospace;
	font-size: 2vw;
	line-height: 1.1;
	max-inline-size: 100ch;
	margin: auto;
/*	opacity: 0;
	animation: fade-in 2s 1.4s forwards;*/
}

body {
  background: hsl(204 100% 5%);
  min-block-size: 145vh;
  padding: 10vmin;
  box-sizing: border-box;
  place-content: center;
}


/*@keyframes typing {
	to { width: 100%; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

.fadeinanimation {
	  opacity: 0;
		animation: fade-in 1s 2.25s forwards;
}*/

/*.button1 {
	length:  80hmax;
	width: 65vmin;
	font-size: 7.5vmin;
	font-weight: 800;
	font: system-ui;
	color: hsl(204 100% 5%);
	border-radius: 24px;
	padding: 12px 45px;
	background: radial-gradient(
	hsl(278 50% 60%), 
	hsl(200 100% 60%) 
	) fixed;
	transition: all 0.5s;
  cursor: pointer;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 6vmin;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}*/

.pOuter {
	font-family: FreeMono, monospace;
	color: white;
	margin: auto;
	font-size: 3vmin;
	text-align: left;
	width: 90%;
}

.pCopyright {
	font-family: FreeMono, monospace;
	color: white;
	font-size: 1.5vmin;
	display: flex;
  justify-content: center;
  align-items: center;
}

.linkhub {
	width: 3vmin;
	height: 3vmin;
	filter: opacity(0.4) drop-shadow(0 0 0 blue);
}

.linkhub:hover {
	width: 3vmin;
	height: 3vmin;
	filter: opacity(1) drop-shadow(0 0 0 white);
}

.redirect {
	width: 2vmin;
	height: 2vmin;
	filter: opacity(1) drop-shadow(0 0 0 white);
}

.redirect:hover {
	width: 2vmin;
	height: 2vmin;
	filter: opacity(0.4) drop-shadow(0 0 0 blue);
}

.profile {
	border-radius: 50%;
	height: 30vmin;
  width: 30vmin;
  border: 0.6vmin solid #666BAC;
}

.colorgrad {
  background: radial-gradient(
    hsl(278 75% 60%), 
    hsl(200 100% 60%) 
  ) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1svmin;
} 

.menu-item-experience {
	font-family: FreeMono, monospace;
	color: white;
	margin: auto;
	font-size: 3vmin;
	display: inline-block;
	padding: 2vmin;
	background: radial-gradient(
		hsl(278 50% 60%), 
		hsl(200 100% 60%) 
		) fixed;
	border: 0.3vmin solid #666BAC;
	cursor: pointer;
	
}

.menu-item-projects {
	font-family: FreeMono, monospace;
	color: white;
	margin: auto;
	font-size: 3vmin;
	display: inline-block;
	padding: 2vmin;
	background: radial-gradient(
		hsl(278 50% 60%), 
		hsl(200 100% 60%) 
		) fixed;
	border: 0.3vmin solid #666BAC;
	cursor: pointer;
	
}

.active {
	background-color: #AAA;
	border: 0.5vmin solid #666BAC;
}

.menu-container {
	margin: auto;
	text-align: left;
	width: 90%;
	margin-bottom: 0.5vmin;
}

.bottom-container-experience {
	margin: auto;
	text-align: left;
	background: hsl(204 100% 5%);
	border: 0.3vmin solid #666BAC;
	width: 90%;
}

.bottom-container-projects {
	margin: auto;
	text-align: left;
	background-color: #666BAC;
	border: 0.3vmin solid #666BAC;
	width: 90%;
}

.experience-logo {
	border-radius: 10%;
	height:  15vmin;
	width:  15vmin;
}